*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}


.sidebar{
  position:relative;
  overflow:hidden;
  position:fixed;
  top: 0;
  left: 0;
  height:100%;
  width:78px;
  background:#11101d;
  padding:6px 14px;
  transition: all 0.5s ease;
  float: left;
}

.topnav {
overflow: hidden;
margin: 0;


}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo{
  color:#fff;
  display:flex;
  height:50px;
  width:100%;
  align-items:center;
  pointer-events: none;
}

.sidebar .logo_content .logo img {
  width: 80px;
  height: 50px;
}

.sidebar.active .logo_content .logo{
opacity: 1;
pointer-events: none;

}

.logo_content .logo i{
  font-size:28px;
  margin-right:5px;
}

.logo_content .logo .logo_name{
  font-size:20px;
  font-weight:400;
}

.sidebar #btn{
  position:absolute;
  color:#fff;
  left:50%;
  top:6px;
  font-size:20px;
  height:50px;
  width:50px;
  text-align:center;
  line-height:50px;
  transform:translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  
}

.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search{
  position:absolute;
  z-index:99;
  color:#fff;
  font-size:22px; 
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover{
  background: rgb(68, 15, 175);
  color:#d7b32e;
}

.sidebar ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  color: #fff;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color: #d7b32e;
  background: rgb(68, 15, 175);
}

.sidebar ul li i{
  height:50px;
  min-width:50px;
  border-radius:12px;
  line-height:50px;
  text-align:center;
}

.sidebar .links-name{
  opacity: 0;
  pointer-events: none;
}

.text {
  background-color: yellow;
  color: rgb(65, 65, 65);
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  border:none;
  text-align: center;
}

.sidebar.active .links-name{
  opacity: 1;
  pointer-events: auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.login {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70%;
}

.sidebar.active .login{
  opacity: 1;
  pointer-events: auto;
  width: 90%;
}

.container{
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 78px 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
}

.sidebar-left{

  grid-area: 1 / 1 / 1 / 2;
}

.product-container{
  grid-area: 1 / 2 / 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  gap: 20px 30px;
  padding: 20px 50px;
  max-width: 100vw;
}

.product{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.product-links{
  grid-area: 1 / 1 / 1 / 2;
  background-color: #d7b32e;
  justify-content: center;
  align-items: center;
  display: flex;
}

.product-foto{
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product-rechts{
  grid-area: 1 / 2 / 1 / 2;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.product h2{
  font-family: "Raleway", sans-serif;
}

.product p{
  font-family: "Raleway", sans-serif;
}

.product-naam{
  text-align: center;
  font-size: 40px;
  padding-bottom: 5px;
}

.product-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 10px;
}

.product-info p{
  padding: 3px 0;
}

.product-voorraad{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.product-prijs{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.voeg-toe{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.voeg-toe-button{
  padding: 5px 20px;
}

.aantal-input{
    grid-area: 1 / 2 / 1 / 2;
}

.apparatuuroverzicht-tabel{
  display: flex;
  justify-content: center;
  
}

table {

  border-collapse: collapse;
  display: flex;

}

.apparatuuroverzicht-tabel td,.apparatuuroverzicht-tabel th{
padding:12px 15px;
border:2px solid rgb(25, 157, 30);
text-align: center;
}

.apparatuuroverzicht-tabel th {
  background-color: #ddd;
}
